body {
  background-color: black;
  font-family: Verdana;
}
p {
  text-align: center;
  font-size: 21px;
  color: grey;
}
h1 {
  text-align: center;
  font-size: 50px;
  font-weight: normal;
  color: White;
}
h2 {
  text-align: center;
  font-size: 42px;
  font-weight: 300;
  color: white;
}
a, h3 {
  text-align: center;
  font-size: 16px;
  font-weight: normal;
  color: Aquamarine;
}
.footer {
  text-align: right;
  font-size: 21px;
  color: grey;
}
